<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
                        
            <li>
                <a href="#"><i class="fa fa-user"></i> Users<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/users/add">Add</a>
                    </li>
                    <li>
                        <a href="/admin/users/list">List</a>
                        <a href="/admin/users/report">Report</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope-o"></i> Blog<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/blogs/add">Add</a>
                    </li>
                    <li>
                        <a href="/admin/blogs/list">List</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-university"></i> Yale Affiliation<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!-- <li>
                        <a href="/admin/affiliations/add">Add</a>
                    </li> -->
                    <li>
                        <a href="/admin/affiliations/list">List</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <!-- <li>
                <a href="#"><i class="fa fa-globe"></i> Email Hosts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/hosts/add">Add</a>
                    </li>
                    <li>
                        <a href="/admin/hosts/list">List</a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="/admin/contact/list"><i class="fa fa-phone"></i> Contact List</a>
            </li>
            <li>
                <a href="/admin/cms/list"><i class="fa fa-file-text"></i> CMS Page</a>
            </li>             
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
